            <div class="row">
                <div class="col-sm-3">
                    <br>
                    <div class="row iconos">
                        <i class="fa fa-industry fa-2x"></i>
                    </div>
                    <br>
                    <p>Equipos Industriales de Gastronomía S.A. de C.V.<br>
                        R.F.C. EIG101108IU0</p>
                </div>

                <div class="col-sm-3">
                    <br>
                    <div class="row iconos">
                        <i class="fa fa-map-marker fa-2x"></i>
                    </div>
                    <br>
                    <p>C. 26-B no. 352 x 31-A y 31-D<br>
                        Col. Adolfo López Mateos<br>
                        Mérida, Yucatán, México<br>
                    </p>
                </div>


                <div class="col-sm-3">
                    <br>
                    <div class="row iconos">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <br>
                    <p>(999) 9 20 64 60 <br>
                        (999) 9 25 25 92</p>
                </div>


                <div class="col-sm-3">
                    <br>
                    <div class="row iconos">
                        <i class="fa fa-envelope-o fa-2x"></i>
                    </div>
                    <br>
                    <p>ventas@icemas.com<br>
                        servicio@icemas.com</p>
                </div>
            </div> 

            <div class="row"> 
                <div class="col-sm-4 col-sm-offset-8">
                    <hr>
                    <p><i class="fa fa-copyright"></i>
                        2016 | 10D2. Desarrollos Orientados para TI</p>
                </div>
            </div> <!-- /.row -->  

