
<section class="content">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" ng-controller="sucCtrl">

            <form ng-submit="guardarSuc()">
                <div class="panel panel-body">
                    <div class="form-group">
                        <label>Sucursal</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoSuc.sucursal" 
                               placeholder="Nombre de la sucursal" 
                               required="required"/>
                    </div>
                    <br>

                    <div class="form-group form-inline">
                        <label>Cliente</label>
                        <br>
                        <select  
                            ng-model="clienteSel" 
                            class="form-control" 
                            ng-options="cli as cli.nombre for cli in nomCliente track by cli.idCliente"> 
                        </select>
                    </div>  

                    <button value="enviar" class="btn btn-primary" style="float: right">
                        <i class="fa fa-save"></i> Guardar
                    </button>

                    <h4 class="text-info animated fadeIn fast" ng-show="actualiza">Registro realizado  
                        <a href="#/sucursales"><i class="text-info fa fa-reply-all fa-2x" title="REGRESAR A SUCURSALES"></i></a>
                    </h4>
                </div>
            </form>

        </div>
    </div>
</section>
</body>
</html>