
<section class="content">

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 texto" ng-controller="fClienteCtrl">

            <form ng-submit="guardarCliente()">
                <div class="panel panel-body">
                    <div class="form-group">
                        <label>Cliente</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.nombre" 
                               placeholder="Nombre del cliente" 
                               required="required"/>
                    </div>
                    <br>

                    <div class="form-group form-inline">
                        <label>Ciudad</label>
                        <br>
                        <select  
                            ng-model="ciudadSel" 
                            class="form-control" 
                            ng-options="ciu as ciu.ciudad for ciu in nomCiudad track by ciu.idCiudad"> 
                        </select>
                    </div>  
                    <br>

                    <div class="form-group form-inline">
                        <label>Sucursal</label>
                        <br>
                        <select  
                            ng-model="sucSel" 
                            class="form-control" 
                            ng-options="s as s.sucursal for s in nomSucursal track by s.idSucursal"> 
                        </select>
                    </div>  
                    <br>
                    <div class="form-group">
                        <label>Dirección</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.direccion" 
                               placeholder="Dirección completa" 
                               required="required"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.telefono" 
                               placeholder="Teléfono del cliente" 
                               required="required"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Contacto</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.contacto" 
                               placeholder="Nombre del contacto" 
                               required="required"/>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="email" 
                               class="form-control" 
                               ng-model="infoCliente.correo" 
                               placeholder="Correo electrónico" 
                               required="required"/>
                    </div>
                    <br>
                    <button value="enviar" class="btn btn-primary" style="float: right">
                        <i class="fa fa-save"></i> Guardar
                    </button>

                    <h4 class="text-info animated fadeIn fast" ng-show="actualiza">Registro realizado  
                        <a href="#/clientes"><i class="text-info fa fa-reply-all fa-2x" title="REGRESAR A SUCURSALES"></i></a>
                    </h4>
                </div>
            </form>

        </div>
    </div>
</section>
</body>
</html>