<section class="content">
    <div class="row">
        <div class="col-sm-12 texto" ng-controller="clientesCtrl">
 
             <div class="box-tools col-sm-4 col-xs-4 visible-lg visible-md hidden-sm hidden-xs" style="float: right">
                <div class="input-group" style="width: 300px;">
                    <input type="text" ng-model="busqueda2" class="form-control input-sm pull-right" placeholder="Ingrese lo que desea buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="box-tools col-sm-4 col-xs-4 visible-xs visible-sm hidden-md hidden-lg">
                <div class="input-group" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <br><br>
            
            <div class="box box-solid box-primary">
                <div class="box-header with-border ali">
                    <h3 class="box-title">CLIENTES</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr class="tblTitulo">
                                <th class="text-primary btnEditar">No.</th>
                                <th>NOMBRE
                                    <a ng-click="columna1='nombre'; reverse = !reverse;">
                                        <i class="fa fa-unsorted"></i>
                                    </a>    
                                </th>
                                <th class="text-primary">DIRECCION</th>
                                <th class="text-primary">TELEFONO</th>
                                <th class="text-primary">CORREO</th>
                                <th class="text-primary">CONTACTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes.clientes | filter:busqueda2 | orderBy:columna1:reverse" class="tblLetras">
                                <td class="text-primary btnEditar"><b>{{$index+1}}<b></td>
                                <td>{{cliente.nombre|uppercase}}</td>
                                <td>{{cliente.direccion|uppercase}}</td>
                                <td>{{cliente.telefono|uppercase}}</td>
                                <td>{{cliente.correo}}</td>
                                <td>{{cliente.contacto|uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>    
    </div>
</section>