<section class="sidebar" ng-controller="serviciosClientesCtrl">
    <br><br>
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li ng-class="mServicios" ng-controller="serviciosClientesCtrl"><a href="#/servicios"><i class="fa fa-briefcase"></i> <span>SERVICIOS</span></a></li>
        <li ng-class="mEquipos" ng-controller="equiposClientesCtrl"><a href="#/equipos"><i class="fa fa-archive "></i> <span>EQUIPOS</span></a></li>
        <li role="separator" class="divider"></li>
        <br>
        <li>
            <a href="../login/login.php">
                <i class="fa fa-sign-out"></i>
                <span>SALIR</span>
            </a>
            
        </li>
    </ul><!-- /.sidebar-menu -->
  
</section>
<!-- /.sidebar -->