<section class="content">
    <div class="col-sm-8 col-sm-offset-2" ng-controller="transCtrl">
        <div class="panel panel-body">
            <form ng-submit="guardarTrans(infoTrans)">

                <div class="modal-body">

                    <div class="form-group-sm">
                        <label>Cliente Actual:  </label>
                        {{infoTrans.nombre}}

                    </div>
                    <br>
                    <div class="form-group-sm">
                        <label>Equipo:  </label>
                        {{infoTrans.equipo}}

                    </div>
                    <br>
                    <div class="form-group-sm form-inline">
                        <label>Fecha de Transferencia</label>
                        <input 
                            type="date" 
                            name="date_control" 
                            required="required"
                            ng-model="infoTrans.fechaTransferencia"/>
                    </div>
                    <br>
                    <div class="form-group-sm form-inline">
                        <label>Cliente Nuevo</label>
                        <select  
                            ng-model="infoTrans.clienteNvo" 
                            class="form-control" 
                            ng-options="cnvo as cnvo.nombre for cnvo in nomCliente track by cnvo.idCliente"> 
                        </select>
                    </div> 

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
{{infoTrans| json}}
                </div><!-- /.modal-content -->
            </form>
        </div>
    </div>
</section>