<!--<div class="modal fade" id="modal_clientes" ng-controller="clientesCtrl">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Clientes:</h4>
            </div>

            <form ng-submit="guardarSuc(infoCliente)">

                <div class="modal-body">

                    <div class="form-group-sm">
                        <label>Cliente</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.nombre" 
                               placeholder="Nombre del cliente" 
                               required="required"/>

                    </div><br>
                    <div class="form-group-sm form-inline">
                        <label>Sucursal</label>
                        <select  
                            ng-model="infoCliente.sucursalSel" 
                            class="form-control" 
                            ng-options="sucur as sucur.sucursal for sucur in nomSucursal track by sucur.idSucursal"> 
                        </select>
                        <label>Ciudad</label>
                        <select  
                            ng-model="infoCliente.ciudadSel" 
                            class="form-control" 
                            ng-options="ciud as ciud.ciudad for ciud in nomCiudad track by ciud.idCiudad"> 
                        </select>
                    </div>
                    <br>
                    <div class="form-group-sm">  
                        <label>Teléfono</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.telefono" 
                               placeholder="Télefono" 
                               required="required"/>
                    </div>
                    <div class="form-group-sm"> 
                        <label>Correo</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.correo" 
                               placeholder="Télefono" 
                               required="required"/>
                    </div>
                    <div class="form-group-sm"> 
                        <label>Contacto</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.contacto" 
                               placeholder="Télefono" 
                               required="required"/>
                    </div> 
                    <br>
                    <p style="text-align: center">
                        <b>Dirección </b> 
                        <a  ng-click="mostrarModalDireccion()" class="btn btn-warning">
                            <i class="fa fa-edit" title="Editar Dirección"></i>
                        </a>
                    </p>
 
                    <div class="form-group-sm form-inline"> 
                        <label>Calle</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.calle" 
                               placeholder="Télefono" 
                               readonly="readonly"/>
                        <label>Por</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.cruzamientos" 
                               placeholder="Télefono" 
                               readonly="readonly"/>
                        <label>Núm.</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.numero" 
                               placeholder="Télefono" 
                               readonly="readonly"/>
                    </div> 
                    <div class="form-group-sm form-inline"> 
                        <label>Colonia</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.colonia" 
                               placeholder="Télefono" 
                               readonly="readonly"/>
                        <label>Código Postal</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoCliente.codigoPostal" 
                               placeholder="Télefono" 
                               readonly="readonly"/>
                        
                    </div> 
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>

                </div><!-- /.modal-content -->
        <!--    </form>
            
        </div><!-- /.modal-dialog -->
 <!--   </div>
</div>-->