<div class="modal fade" id="modal_equipos">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Equipos:</h4>
            </div>

            <form ng-submit="guardarEquipo(infoEquipo)">

                <div class="modal-body">

                    <div class="form-group-sm">
<!--                        <div class="row">
                            <div class="col-lg-4" ng-repeat="imagen in infoEquipo">
                                <img class="previa thumbnail" ng-src="../../{{imagen.imagen}}"/>
                            </div> 
                        </div>-->
                        <input
                            class="col-sm-"
                            type="file" 
                            name="file"
                            uploader-model="file"
                            required="required"/>
                    </div>  
                    <div class="form-group-sm form-inline">
                        <label>Equipo</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Nombre del equipo"
                            required="required"
                            ng-model="infoEquipo.equipo"/>
                    </div>
                    <div class="form-group-sm form-inline">
                        <label>Marca</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Marca del equipo"
                            required="required"
                            ng-model="infoEquipo.marca"/>
                    </div>
                    <div class="form-group-sm form-inline">
                        <label>Modelo</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Modelo del equipo"
                            required="required"
                            ng-model="infoEquipo.modelo"/>
                    </div>
                    <div class="form-group-sm form-inline">
                        <label>Serie</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Serie del equipo"
                            required="required"
                            ng-model="infoEquipo.serie"/>
                    </div>

                    <div class="form-group-sm">
                        <label>Características</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Características"
                            required="required"
                            ng-model="infoEquipo.caracteristicas"/>
                    </div>
                    <div class="form-group-sm">
                        <label>Propietario</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Nombre del propietario"
                            required="required"
                            ng-model="infoEquipo.propietario"/>
                    </div>
                    <br>
                    <div class="form-group-sm form-inline">
                        <label>Cliente</label>
                        <select  
                            ng-model="infoEquipo.eligeCliente" 
                            class="form-control" 
                            ng-options="persona as persona.nombre for persona in nomCliente track by persona.idCliente"> 
                            <option value="" selected hidden> <option>   
                        </select>
                        <label>Fecha de la venta</label>
                        <input 
                            type="date" 
                            name="date_control" 
                            required="required"
                            ng-model="infoEquipo.fechaVenta"/>
                    </div> 

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>

                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div>
</div>