<div class="modal fade" id="modal_direccion">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Dirección</h4>
            </div>

            <form ng-submit="guardarDireccion(infoDireccion)">

                <div class="modal-body">
                    <div class="form-group-sm form-inline"> 
                        <label>Calle</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoDireccion.calle" 
                               placeholder="Télefono" />
                        <label>Por</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoDireccion.cruzamientos" 
                               placeholder="Télefono" />
                        <label>Núm.</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoDireccion.numero" 
                               placeholder="Télefono"/>
                    </div> 
                    <div class="form-group-sm form-inline"> 
                        <label>Colonia</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoDireccion.colonia" 
                               placeholder="Télefono" />
                        <label>Código Postal</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoDireccion.codigoPostal" 
                               placeholder="Télefono"/>

                    </div> 
                    <div class="form-group form-inline">
                        <label>Cliente</label>
                        <br>
                        <select  
                            ng-model="infoDireccion.clienteSel" 
                            class="form-control" 
                            ng-options="cle as cle.nombre for cle in nomCliente track by cle.idCliente"> 
                        </select>
                        <div class="form-group-sm form-inline">
                            <label>Ciudad</label>
                            <select  
                                ng-model="infoDireccion.ciudadSel" 
                                class="form-control" 
                                ng-options="ciud as ciud.ciudad for ciud in nomCiudad track by ciud.idCiudad"> 
                            </select>    
                        </div>  
                    </div> 
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>

                </div><!-- /.modal-content -->
            </form>

        </div><!-- /.modal-dialog -->
    </div>
</div>