<div class="modal fade" id="modal_servicios">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="serviciosCtrl">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title texto">SERVICIOS</h3>
            </div>

            <div class="modal-body texto" ng-repeat="tbs in tblServicio" >

                <div class="row">
                    <div class="col-sm-12">
                        <label>FECHA DE INICIO:  </label>
                        {{tbs.fechaInicio}}
                    </div>
                </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <label>CLIENTE:  </label>
                        {{tbs.nombre|uppercase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>EQUIPO:  </label>
                        {{tbs.equipo|uppercase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>TIPO DE SERVICIO:  </label>
                        {{tbs.tipo|uppercase}}
                    </div>
                </div>
                <div class="row">    
                    <div class="col-sm-12">
                        <label>DESCRIPCION:  </label>
                        {{tbs.descripcion|uppercase}}
                    </div>
                </div>    
                <div class="row">
                    <div class="col-sm-12">
                        <label>REFACCIONES:  </label>
                        {{tbs.refacciones|uppercase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>TECNICO:</label>
                        {{tbs.tecnico|uppercase}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>FECHA DEL PROXIMO SERVICIO:  </label>
                        {{tbs.proximo}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>FECHA DE FINALIZACION:  </label>
                        {{tbs.fFinal}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>NUMERO DE SERVICIO:  </label>
                        {{tbs.noServicio}}
                    </div>
                </div>
            </div><!-- /.modal-content -->

        </div><!-- /.modal-dialog -->
    </div>
</div>