<div class="modal fade" id="modal_usuarios">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Usuarios:</h4>
            </div>
            <form ng-submit="guardarUser(infoUser)">
                <div class="modal-body">
                    <div class="form-group-sm form-inline">
                        <label>Cliente</label>
                        <br>
                        <select 
                            type="text"
                            ng-model="infoUser.selecciona" 
                            class="form-control" 
                            ng-options="clnt as clnt.nombre for clnt in nomCliente track by clnt.idCliente"> 
                        </select>
                    </div>                     
                    <div class="form-group-sm">
                        <label>Usuario</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoUser.usuario" 
                               placeholder="Nombre del usuario" 
                               required="required"/>
                    </div>                   
                    <div class="form-group-sm">
                        <label>Contraseña</label>
                        <input type="text" 
                               class="form-control" 
                               ng-model="infoUser.contrasena" 
                               placeholder="Contraseña" 
                               required="required"/>
                    </div>                 
                    <div class="form-group-sm form-inline">
                        <label>Perfil</label>
                        <br>
                        <select  
                            ng-model="infoUser.seleccionar" 
                            class="form-control" 
                            ng-change="obtenerInfoPerfil();"
                            ng-options="per as per.perfil for per in nomPerfil track by per.idPerfil"> 
                           
                        </select>
                    </div> 
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                    {{infoUser.seleccionar}}
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div>
</div>