<section class="sidebar">
    <br><br>
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li ng-class="mServicios"><a href="#/servicios"><i class="fa fa-briefcase"></i> <span>SERVICIOS</span></a></li>
        <li ng-class="mEquipos"><a href="#/equipos"><i class="fa fa-archive "></i> <span>EQUIPOS</span></a></li>
        <li ng-class="mClientes"><a href="#/clientes"><i class="fa fa-users"></i>  <span>CLIENTES</span></a></li> 
        <li role="separator" class="divider"></li>
        <br>
        <li>
            <a href="../../public/login.php">
                <i class="fa fa-sign-out"></i>
                <span>SALIR</span>
            </a>
        </li>
    </ul><!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->