<section class="content">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 texto" ng-controller="ciudadesCtrl">

            <div class="box-tools">
                <div class="input-group" style="float: right">
                    <a ng-click="mostrarModalCd()" class="btn btn-primary" >
                        <i class="fa fa-plus-circle"></i> Agregar ciudad
                    </a>
                </div>
            </div>
            <br><br>
            <div class="box">
                <div class="box-header with-border ali">
                    <h3 class="box-title">CIUDADES</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CIUDAD</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ciudad in ciudades.ciudades">
                                <td>{{ciudad.ciudad}}</td>
                                <td style="text-align: center">
                                    <a ng-click="borrarCd(ciudad.idCiudad)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!--<tbody>
                            <tr ng-repeat="c in tablaCd">
                                <td>{{c.ciudad | uppercase}}</td>
                                <td style="text-align: center">
                                    <a ng-click="borrarCd(c.idCiudad)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>-->
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a ng-click="moverA(1)">«</a></li>
                            <li 
                                ng-repeat="pag in ciudades.paginas"
                                ng-class="{
                                    'active': ciudades.pag_actual == pag
                                }">
                                <a ng-click="moverA(pag)">{{pag}}</a>
                            </li>
                           <!-- <li><a href="">2</a></li>
                            <li><a href="">3</a></li>-->
                            <li><a ng-click="moverA(ciudades.total_paginas)">»</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->



            </div><!-- /.box -->
            <div ng-include="'template/modal_ciudades.html'" ></div>

        </div>    
    </div>
</section>
