<section class="content">
    <div class="row">
        <div class="col-sm-12 texto" ng-controller="clientesCtrl">

            <div class="box-tools">
                <div class="input-group" style="float: right">
                    <a href="#/formCliente/nuevo" class="btn btn-primary" >
                        <i class="fa fa-user-plus"></i> Agregar cliente
                    </a>
                </div>
            </div>
            <br><br>
            <div class="box">
                <div class="box-header with-border ali">
                    <h3 class="box-title">CLIENTES</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>CLIENTE</th>
                                <th>SUCURSAL</th>
                                <th>DIRECCION</th>
                                <th>CIUDAD</th>
                                <th>TELEFONO</th>
                                <th>CORREO</th>
                                <th>CONTACTO</th>
                                <th>EDITAR</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes.clientes">
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.sucursal}}</td>
                                <td>
                                    {{cliente.calle}} {{cliente.numero}} {{cliente.cruzamientos}} 
                                    {{cliente.colonia}} {{cliente.codigoPostal}}
                                </td>
                                <td>{{cliente.ciudad}}</td>
                                <td>{{cliente.telefono}}</td>
                                <td>{{cliente.correo}}</td>
                                <td>{{cliente.contacto}}</td>
                                <td>
                                    <a href="#/formCliente/{{cliente.idCliente}}" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td style="text-align: center">
                                    <a ng-click="borrarCliente(cliente.idCliente)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a ng-click="moverG(1)">«</a></li>
                            <li 
                                ng-repeat="pag in clientes.paginas"
                                ng-class="{
                                    'active': clientes.pag_actual == pag
                                }">
                                <a ng-click="moverG(pag)">{{pag}}</a>
                            </li>
                            <li><a ng-click="moverG(clientes.total_paginas)">»</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div ng-include="'template/modal_clientes.html'" ></div>
        </div>    
    </div>
</section>
