<section class="content">
    <div class="row">
        <div class="col-sm-12 texto" ng-controller="equiposCtrl">

            <div class="box box-solid box-primary">
                <div class="box-header with-border ali">
                    <h3 class="box-title">EQUIPOS</h3>
                    <div class="input-group" style="float: right">
                        <a ng-click="mostrarModalEquipo({})" class="btn btn-primary btnNuevo btn-xs">
                            <i class="fa fa-plus-circle"></i> Agregar
                        </a>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr class="tblTitulo">
                                <th>VENTA</th>
                                <th>CLIENTE</th>
                                <th>PROPIETARIO</th>
                                <th>EQUIPO</th>
                                <th>MARCA</th>
                                <th>MODELO</th>
                                <th>SERIE</th>
                                <th>CARACTERISTICAS</th>
                                <th>EDITAR</th>
                                <th>TRANSFERIR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="equipo in equipos.equipos" class="tblLetras">
                                <td>{{equipo.fechaVenta|uppercase}}</td>
                                <td>{{equipo.nombre|uppercase}}</td>
                                <td>{{equipo.propietario|uppercase}}</td>
                                <td>{{equipo.equipo|uppercase}}</td>
                                <td>{{equipo.marca|uppercase}}</td>
                                <td>{{equipo.modelo|uppercase}}</td>
                                <td>{{equipo.serie|uppercase}}</td>
                                <td>{{equipo.caracteristicas|uppercase}}</td>
                                <td class="btnEditar">
                                    <a ng-click="mostrarModalEquipo(equipo)" class="btn btn-warning btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td style="text-align: center" >
                                    <a href="#/formularioTrans/{{equipo.idEquipo}}" class="btn btn-success btn-xs">
                                        <i class=" fa fa-exchange"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a ng-click="moverY(1)">«</a></li>
                            <li 
                                ng-repeat="pag in equipos.paginas"
                                ng-class="{
                                    'active': equipos.pag_actual == pag
                                }">
                                <a ng-click="moverY(pag)">{{pag}}</a>
                            </li>
                            <li><a ng-click="moverY(equipos.total_paginas)">»</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->   
            </div><!-- /.box -->
<!--S            <div ng-include="'template/modal_transferir.html'" ></div>-->
            <div ng-include="'template/modal_equipo.html'" ></div>
        </div>    
    </div>
</section>
