<section class="content">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 texto" ng-controller="tipoServ">

            <div class="box-tools">
                <div class="input-group" style="float: right">
                    <a ng-click="modalTservicios({})" class="btn btn-primary" >
                        <i class="fa fa-plus"></i> Agregar tipo de servicio
                    </a>
                </div>
            </div>
            <br><br>
            <div class="box">
                <div class="box-header with-border ali">
                    <h3 class="box-title">TIPOS DE SERVICIOS</h3>

                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>TIPO DE SERVICIO</th>
                                <th>EDITAR</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tipo in tipos">
                                <td>{{tipo.tipo}}</td>
                                <td>
                                    <a ng-click="modalTservicios(tipo)" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td style="text-align: center">
                                    <a ng-click="borrarTserv(tipo.idTipo)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="box-footer clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a ng-click="moverD(1)">«</a></li>
                            <li 
                                ng-repeat="pag in ti.paginas"
                                ng-class="{
                                    'active': ti.pag_actual == pag
                                }">
                                <a ng-click="moverD(pag)">{{pag}}</a>
                            </li>
                            <li><a ng-click="moverD(ti.total_paginas)">»</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            <div ng-include="'template/modal_tServicios.html'" ></div>
        </div>    
    </div>
</section>
